body{
    background-image: url(table.png);
    background-size: cover;
    margin: 10px;
    margin-top: 150px;
    max-width: 100%;
    overflow-x: hidden;

}

.container{
    border-radius: 15px;
    border-style:double;
    border-width: 5px;
    border-color: black;
    padding-bottom: 20px;
    min-width: 380px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
}

h1{
    font-size: 50px;
    color:goldenrod;
}

h2{
    font-size: 30px;
    color:white;
}

p{
    font-size: 25px;
    color: white;
}

#coins{
    display: flex;
    justify-content: flex-end;
}

.buttons{
    display: flex;
    justify-content: center;
}

#start-btn{
    width: 125px;
    padding: 7px;
    background-color: white;
    border-radius: 8px;
    margin-right: 20px;
}

#new-btn{
    width: 125px;
    padding: 7px;
    background-color: goldenrod;
    border-radius: 8px;
}